/* fonts Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

h2{
    font-family: 'Poppins', sans-serif;
}
/* fonts Medium 500 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.watch-live {
    font-family: 'Poppins', sans-serif;
    
}
/* font Regular */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

P.player-details {
    font-family: 'Poppins', sans-serif;
}


/* Top Banner */
.top-banner
{
    display: flex;
   grid-template-columns: repeat(2 ,1rf)
   

}
.banner-color-size{
    width: 1440px;
    height: 677px;
    background-color:#2D25A0;
}
.banner-title{
    width: 485px;
    height: 230px;
    margin-top: 207px;
    margin-left: 156px;
    color: #FFFFFF;
    margin-top: 187px;
    margin-left: 156px;

    font-size: 64px;


}


.go-to-live{
    display: flex;
    align-items: center;
    margin-left: 156px;
    margin-bottom: 189px;
    background-color:#E02C6D;
    height: 44px;
    width: 168px;
    padding: 10px 24px;
    color: 
    #FFFFFF;
    justify-content:center;
    font-size: 16px;

}

 .Watch-live{
     width: 88px;
     height: 24px;
     font-weight: 500;
 }
.fa-arrow{
    width: 24px;
    height: 24px;
}
.football-player-kick img{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-left:93px;
    transition-delay: 0.1ms;


    
}
.football-player-kick img:hover{
    transform:rotate(45deg)
    
}
/* players information  */
.players{
    width: 1440px;
}
.top-players{
    display:grid;
    grid-template-columns: repeat(3 ,1fr);
    width: 1050px;
   margin-left: 180px;
   margin-top: 20px;
    
}
.player img{
    width: 300px;
    height: 256px;
    margin: 15px;
    color: #FFFFFF;
}
    
.top-players .player-info{
    box-shadow:  0px 0px 40px;
    padding: 10px 10px;
    margin: 10px 10px 20px 20px;
    
}

.player-name {
    width: 300px;
    height: 40px;
    margin-left: 15px;
    color: #18191F;
}
.player-details{
    width: 300px;
    height: 104px;
    font-weight: 400;
    margin: 10px 15px 33px 15px;
}
